<div><h3>List</h3></div>
<div class="Container">
  <div class="bookList">
    <div
      class="book"
      *ngFor="let book of bookList; let i = index"
      [ngStyle]="{
        'background-color': selectIndex === i ? 'lightgray' : 'white'
      }"
      (click)="onSelect(i)"
    >
      <div
        class="color"
        [ngClass]="{ selected: selectIndex === i }"
        [ngStyle]="{ 'background-color': book.color }"
      ></div>
      <div class="text">
        <h3>{{ book.name }}</h3>
        <p>{{ book.description | slice: 0:100 }}...</p>
      </div>
    </div>
  </div>
</div>
